body {
    margin: 0
}

.divflexwrap{
    width:920px;
    display:flex;
    flex-wrap: wrap;
}


.item{
    padding:  10px;
    display: flex;
    line-height: 100%;
}

.item :hover{
    cursor: pointer;
}

.item p {
    margin: auto;
}

.selecting{
    border-bottom: 5px solid #e17b03;
}

.banner{
    background-image: url("images/banner.png");
    height: 26vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.banner2{
    background-image: url("images/banner2.png");
    height: 37vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner3{
    background-image: url("images/banner3.png");
    height: 33vw;
    background-position-x: center;
}

.banner p {
    padding-left: 225px;
    color: #e28312;
    
    margin: 0;
    width: 21.3vw;
    height: 13.25vw;
    font-size: 2.4vw;
    line-height: 3.6vw;
    left: 25vw;
}

.container{
    width:915px;
    display:flex;
    flex-wrap: wrap;
   
    
}

.container11{
    display:flex;
    justify-content: center;
}

.containerp{
    text-align: center;
    font-size:18px;
    color: white;
}

.container2{
    
    justify-content: center;

}


 .wrapper{
    text-align: justify;
    width: 900px;
    text-align-last: center;
    color: rgb(68, 68, 68);
    line-height: 2vw;

}

.wrapper2{
    width:900px;
    text-align:justify;
    line-height:2vw;
    color: rgb(68, 68, 68);
}

.quetoo{
    font-size:2.4vw;
    color: #fcff00;
}

.quetoo2{
    color: #fcff00;
    font-size:1.8vw;
    margin-bottom: 10px;
}

.container2 .wrapper{
    text-align: justify;
    width: 900px;
    color: rgb(68, 68, 68);
    line-height: 2vw;
    
    
}



.leftmargin{
    height: 25px;
    width: 900px;
    border-style: solid ;
    border-width: 0 0 0 10px;
    border-color: #e28312;
    color:  rgb(68, 68, 68);
}

.leftmargin1{
    display: flex;
    width:900px;
    color: rgb(68, 68, 68);
    line-height: 2vw;
    
}



.leftmargin2{
    
    color: rgb(68, 68, 68);
    line-height: 2vw;
    display: flex;
}

.img{
    padding: 60px 30px 0 0;
}

.leftmargin4{
    border-style: solid ;
    border-width: 0 0 0 10px;
    border-color: #e28312;
    height: 27px;
}

.leftmargin5{

}

.leftmargin4 .queto{
    font-size: 23px;
    position: relative;
    margin: 0px;
    padding-left: 10px;

}

.leftmargin .queto {
    font-size: 23px;
    position: relative;
    margin: 0px;
    padding-left: 10px;
}


/*
.container .wrapper::after{
    content: "";
    display: inline-block;
    width: 100%;
}
*/

/*
.container.wrapper  p{
   margin: 0;
}
*/

.intro {
    color: rgb(68, 68, 68);
    text-align: center;
    font-size: 2.4vw;

  }

  .intro .queto{
      color:white;
  }

.intra{
    margin:auto;
    margin-bottom: 16px;
    width: 100px;
    border-bottom-style: solid;
    border-color: #e28312;
}

.intra2{
    height: 0;
    margin:20px;
    width: 900px;
    border-bottom-style: solid;
    border-width: 0.5px;
    border-color: rgb(136, 136, 136);
}

.intra4{
    height: 0;
    width: 900px;
    border-bottom-style: solid;
    border-width: 0.5px;
    border-color:white;
}

.intra5{
    height: 0;
    width: 100px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: white;
}

.intra6{
    height: 0;
    width: 142px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color:#fcff00;
}

.intra3{
    height: 0;
    width: 695.67px;
    border-bottom-style: solid;
    border-width: 0.5px;
    border-color: #e17b03;
}



.block1{
    width: 225px;
    height: 270px;
    background-color:#e19103;
    margin-right:5px;
    margin-bottom: 5px;   

}

.block1:nth-child(4n){
    margin-right: 0;
}

.block1color{
    width: 220px;
    height: 270px;
    background-color: #ffdea3;
    margin:5px;
}

.block1margin{
    margin:0;
    padding:0;
    padding-top: 8px;
    margin-right: 15px;
    margin-left:15px;   
    line-height:1.5vw;
    color:#5d5951;
    
}


.block2{
    display:table;
    margin-top: 40px;
    background-color: white;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    color: #e17b03;
} 




.block2 p{
    display:table-cell;
    text-align:center;
    vertical-align: middle;
    font-size:30px;
}

.block2U{
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
    color:white;
}

/*
.block2 p{
    font-size:30px;
    display: inline-block;
    vertical-align: middle;
}*/



.backgroundcolor1{
    background-color: #f5ffd2;
}

.tablecell{
    display:table-cell;
}

.div900px{
    width:900px;
    display:table;

}

.divver1{
    padding-bottom:20px;
}

.paddingtop10{
    padding-top: 10px;
}

.paddingtop10 .queto{
    font-size: 18px;
    color: #e17b03;
}

.divver2{
    padding-top:20px;
    padding-bottom:70px
}

.menu {
    font-size: 36px;
    height: 50px;
    margin-top:35px;
    text-align: center;
    color: #e17b03;
}
.navigation{
    font-size: 16px;
    width: 100%;
    height: 56px;
    color:white;
    justify-content: center;  
    background-color:#b2ce4e;
    display: flex;
}




